/* menu */

/* 
00 second project code  common code
1. login & registation form 
2. dashboard side bar
3. dashboard top bar
4. main-container 
5. add bazar page  
6. bazars list 




*/
:root {
    --blue: #007bff;
    --primay: #ffc8b384;
    --black-light: #1d171700;
    --white: #ffffff;
}


* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: aliceblue;
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.btn-save {
    background-color: #4e3939;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-save:hover {
    background-color: #675555;
}

.btn-back {
    background-color: #dcb1b1;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-back:hover {
    background-color: #675555;
}

.d-flex {
    display: flex;
}
.flex-1 {
    flex-grow: 1;
}

.d-flex-column {
    flex-direction: column;
}

.justifiy-between {
    justify-content: space-between;
}

.aligin-items {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.p-10 {
    padding: 10px;
}

.d-none {
    display: none;
}

.form-container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    background-color: white;
}

.top-border {
    width: 100%;
    height: 5px;
    background-color: blue;
}
.heading-from {
    text-align: center;
    font-size: 32px;
    color: rgba(0, 0, 0, .5);
    padding: 20px 0px;
}

.form-field {
    display: flex;
    /* border: 1px  solid rgba(0, 0, 0, 0.3); */
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.form-field .input-icon {
    border: 1px  solid rgba(0, 0, 0, 0.3);
    border-right: none;
    padding: 5px;
}
.form-field input {
    width: 100%;
    border: none;
    border: 1px  solid rgba(0, 0, 0, 0.3);
    outline: none;
    color: rgba(0, 0, 0, .6);
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
}
.form-field select {
    width: 100%;
    border: none;
    border: 1px  solid rgba(0, 0, 0, 0.3);
    outline: none;
    color: rgba(0, 0, 0, .6);
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}
.form-field input:focus{
    border: 1px  solid rgba(0, 0, 0, 0.3);
}

.btn {
    background-color: blue;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: darkblue;
    opacity: .9;
    transform: scale(1.01);
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.flex {
    display: flex;
}
.gap-20 {
    gap: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.p-5 {
    padding: 5px;
}

/* position desing class  */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0{
    right: 0;
}
.bottom{
    bottom: 0;
}

/* flex class  */
.flex {
    display: flex;
}
.gap {
    gap: 20px;
}


/* 2. dashboard side bar */

.sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #4e3939;
    color: white;
    /* left: -280px; */
}

.sidebar .sidebar-logo{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px 10px;
}
.sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* background-color: red; */
    /* padding: 20px; */
}
.sidebar .sidebar-nav .sidebar-nav-item {
    /* background-color: rgb(118, 71, 71); */
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}
.sidebar .sidebar-nav .sidebar-nav-item:hover {
    background-color: rgb(118, 71, 71);
    color: wheat;
}
.sidebar .sidebar-nav .sidebar-nav-item span {
    text-align: center;
}

/*================== 3. dashboard top bar start ================= */
.top-bar {
    background-color: #fff;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.top-bar .top-bar-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px;
}
.top-bar .top-bar-btn .user-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    cursor: pointer;
}
.top-bar .top-bar-btn .user-btn img {
    width: 100%;
    height: 100%;
}

.top-bar .top-bar-btn div {
    color: grey;
    font-size: 13px;
    /* font-weight: bold; */
}
/*================== 3. dashboard top bar end   ================= */


/* 4. main-container  */
.main-container {
    width: 100% -280px;
    /* background-color: red; */
    margin-left: 280px;
    /* padding: 10px; */
}

.main-content {
    margin: 20px;
}



/* 5. add bazar page  start */
.bazar-add {
    max-width: 550px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: white;
}
.bazar-add .bazar-add-header{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.bazar-add .bazar-add-body{}
.bazar-add .bazar-add-body .bazar-add-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bazar-add .bazar-add-body .bazar-add-form .form-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bazar-add .bazar-add-body .bazar-add-form .form-item label{
    font-size: 14px;
}
.bazar-add .bazar-add-body .bazar-add-form .form-item input{
    padding: 10px 15px;
}
.bazar-add .bazar-add-body .bazar-add-form .form-item .form-item-all{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 10px;
    /* border: 1px solid blue; */
}
.bazar-add .bazar-add-body .bazar-add-form .form-item  .item-add-btn{
    padding: 8px 20px;
    border: 1px solid grey;
    cursor: pointer;
}
.bazar-add .bazar-add-body .bazar-add-form .form-item .form-item-all .form-item-single{
    display: flex;
    flex-direction: column;
}

.bazar-add .bazar-add-body .bazar-add-form .form-item .form-item-all .form-item-single input{
    width: 100px;
    padding: 5px;
}

.item-serial {
    width: 20px !important;
    border: none;
    background-color: gray;
    color: white;
}

/* 5. add bazar page  end */


/* 6. bazars list start */
.bazar-list {
    width: 100%;
    padding: 20px;
    /* border: 1px solid red; */
}
.bazar-list table {
    width: 100%;
    /* border: 1px solid grey; */
    border-radius: 4px;
    border-collapse: collapse;
}
.bazar-list table tbody tr {
    text-align: center;
    border-bottom: 1px solid grey;
}
.bazar-list table tbody tr td {
    padding: 8px;
    size: 14px;
}
.bazar-list table thead tr {
    background-color: #4e3939;
    color: white;
}
.bazar-list table thead tr th {
    padding: 10px;
}
/* 6. bazars list end */